.button {
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: "Monaco";
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 1rem;
	padding: calc(.675rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


h1 {
	font-family: "Monaco";
    text-align:center;
}

body {
	/* background-color: lightgray; */
	margin: 0px 5% 0px 5%;
}

#FYI {
	font-size: 16px;
	font-style:oblique;
	color: #666;
	width: 35%;
	font-family: "Monaco";
	line-height: 1.75;
	float:left ;
	margin: 0px 0px 0px 10%;
}

#grammar{
	background-color: white;
	float:left ;
	width: 50%;
	line-height: 1.5;
	font-family: "Monaco";
	margin: 0px 0px 0px 0px;
}

#tgrm{
	width: 90%;
}

input[id=txt], select {
	width: 70%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

  
/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree li {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.tree {
	margin: 0 0 1em;
	text-align: center;
}
.tree, .tree ul {
	display: table;
}
.tree ul {
	width: 100%;
}
.tree li {
	display: table-cell;
	padding: .5em 0;
	vertical-align: top;
}
/* _________ */
.tree li:before {
	outline: solid 1px #666;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.tree li:first-child:before {left: 50%;}
.tree li:last-child:before {right: 50%;}

.tree code, .tree span {
	border: solid .1em #666;
	border-radius: .2em;
	display: inline-block;
	margin: 0 .2em .5em;
	padding: .2em .5em;
	position: relative;
}
/* If the tree represents DOM structure */
.tree code {
	font-family: monaco, Consolas, 'Lucida Console', monospace;
}

/* | */
.tree ul:before,
.tree code:before,
.tree span:before {
	outline: solid 1px #666;
	content: "";
	height: .5em;
	left: 50%;
	position: absolute;
}
.tree ul:before {
	top: -.5em;
}
.tree code:before,
.tree span:before {
	top: -.55em;
}

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
	.tree > li:before,
	.tree > li:after,
	.tree > li > code:before,
	.tree > li > span:before {
	outline: none;
}